# Please also see libwasmvm/.gitignore for the Rust-specific ignored files.

**/*.rs.bk
*.iml
.idea
.vscode
**combined_code.txt
**combined_code.md
/vm/
/wazero/
/contracts/
**testlog



# no static libraries (35MB+)
/internal/api/lib*.a

# artifacts from compile tests
/build/
/demo
tmp
a.out
assistant*
libwasmvm/target/** 

# macOS
.DS_Store
