version: 2

jobs:
  build_libgo_cosmwasm:
    docker:
      - image: circleci/rust:1.41-stretch
    steps:
      - checkout
      - run:
          name: Setup Rust toolchain from ./rust-toolchain
          command: echo "RUSTUP_TOOLCHAIN=$RUSTUP_TOOLCHAIN" && rustup show
      - run:
          name: Show version information
          command: rustc --version; cargo --version; rustup --version
      - run:
          name: Add clippy component
          command: rustup component add clippy
      - run:
          name: Run linter
          command: cargo clippy -- -D warnings
      - run:
          name: Run tests
          command: cargo test
      - run:
          name: Create release build of libgo_cosmwasm
          command: make build-rust
      - persist_to_workspace:
          root: ./api
          paths:
            - libgo_cosmwasm.so

  test:
    working_directory: /go/src/github.com/CosmWasm/go-cosmwasm
    docker:
      - image: circleci/golang:1.14
    environment:
      GORACE: "halt_on_error=1"
      BUILD_VERSION: $(echo ${CIRCLE_SHA1} | cut -c 1-10)
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/builds
      - run: cp /tmp/builds/libgo_cosmwasm.so ./api
      - run:
          name: Go integration tests
          command: make test
      - run:
          name: Go tests with cgo and race condition safety checks
          command: make test-safety
      - run: make build-go

  test_alpine_build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - add_ssh_keys:
          fingerprints:
            - "31:de:e5:84:1b:12:81:94:aa:06:50:c0:cb:bd:79:f0"
      - checkout
      - run: echo $CIRCLE_BRANCH
      - run: make test-alpine
      - run: ls -l ./api/libgo*

  release:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - add_ssh_keys:
          fingerprints:
            - "31:de:e5:84:1b:12:81:94:aa:06:50:c0:cb:bd:79:f0"
      - checkout
      - run: echo $CIRCLE_BRANCH
      - run: make release
      - run: ls -l ./api
      - run: git config user.email "bot@circleci.com"
      - run: git config user.name "CircleCI Bot"
      - run: git add .
      - run: git commit --allow-empty -m '[skip ci] Built release libraries'
      - run: git push origin $CIRCLE_BRANCH

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_libgo_cosmwasm
      - test:
          requires:
            - build_libgo_cosmwasm
      # this is long running like release, so only double-check on merge commits
      # ensures that all code works on alpine linux
      - test_alpine_build:
          filters:
            tags:
              ignore:
                - /.*/
            branches:
              only:
                - master
      # release only on master, not on tags (auto-build on merge PR)
      - release:
          filters:
            tags:
              ignore:
                - /.*/
            branches:
              only:
                - master
